a {
    text-decoration: none;
}

body {
    background-image: url("https://img.doooor.com/img/forum/201809/11/194857vj8cm8gm8q2nkmcj.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    -moz-background-size: 100% 100%;
}

.rtbox {
    display: flex;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 5vh;
}

.rtbox button {
    border: none;
    width: 50px;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    color: white;
    font-size: 2em;
}