a{
    text-decoration: none;
}
.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.rtbox{
    display: flex;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 5vh;
}
.rtbox button{
    border: none;
    width: 50px;
}