a {
    text-decoration: none;
}

img{
    width: 100vw;
    height: 100vh;
}

.rtbox {
    display: flex;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 5vh;
}

.rtbox button {
    border: none;
    width: 50px;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    color: white;
    font-size: 2em;
}
